<form class="margin-ninety" [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" class="form-control" formControlName="firstName" required>

        <div class="alert alert-danger" *ngIf="firstName.errors?.required">
            First Name is required
        </div>

        <div class="alert alert-danger" *ngIf="firstName.errors?.minlength">
            Name must be at least 2 charachers long
        </div>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" class="form-control" formControlName="lastName" required>

        <div class="alert alert-danger" *ngIf="lastName.errors?.required">
            Last Name is required
        </div>

        <div class="alert alert-danger" *ngIf="lastName.errors?.minlength">
            Last Name must be at least 2 charachers long
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" class="form-control" formControlName="password" required>

        <div class="alert alert-danger" *ngIf="password.errors?.required">
            Password is required
        </div>

        <div class="alert alert-danger" *ngIf="password.errors?.minlength">
            Password must be at least 4 charachers long
        </div>
    </div>

    <div class="form-group">
        <label for="role">Role</label>
        <select id="role" class="form-control"
        formControlName="role" required>
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
        </select>
    </div>

    <button class="button" type="submit" class="btn btn-default"
    [disabled]="editForm.invalid">Update</button>
</form>